.sidebar {
  width: 260px;
  min-width: 260px;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;

  padding: 24px 18px 18px;

  background: #111111;
  color: #ffffff;
}

.brand {
  display: flex;
  align-items: center;
  gap: 14px;

  padding: 8px 10px 30px;
}

.brand-logo {
  width: 46px;
  height: 46px;
  object-fit: contain;
  flex-shrink: 0;
}

.brand-text {
  display: flex;
  flex-direction: column;
}

.brand-text strong {
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1.3px;
  color: #ffffff;
  white-space: nowrap;
}

.brand-text span {
  margin-top: 3px;

  font-size: 9px;
  font-weight: 500;

  color: #8b8b8b;

  letter-spacing: 1.3px;
  white-space: nowrap;
}
.navigation {
  display: flex;
  flex-direction: column;

  gap: 7px;
}

.nav-item {
  width: 100%;
  height: 48px;

  display: flex;
  align-items: center;

  gap: 14px;

  padding: 0 14px;

  background: transparent;
  color: #929292;

  border-radius: 8px;

  cursor: pointer;

  font-size: 14px;
  font-weight: 500;

  text-decoration: none;

  transition: 0.2s ease;
}

.nav-item:hover {
  color: white;
  background: #1b1b1b;
}

.nav-item.active {
  color: white;
  background: #242424;

  position: relative;
}

.nav-item.active::before {
  content: "";

  position: absolute;
  left: 0;

  width: 3px;
  height: 24px;

  background: #e21d2c;

  border-radius: 0 3px 3px 0;
}

.sidebar-bottom {
  margin-top: auto;
}

.race-card {
  padding: 17px;
  margin-bottom: 18px;

  background: #181818;

  border: 1px solid #282828;
  border-radius: 9px;
}

.race-card > span {
  font-size: 9px;
  font-weight: 700;
  letter-spacing: 1.2px;

  color: #777777;
}

.race-card strong {
  display: block;

  margin-top: 8px;

  font-size: 27px;
}

.race-card p {
  margin: 4px 0 13px;

  font-size: 11px;
  color: #777777;
}

.race-progress {
  height: 4px;

  background: #333333;

  border-radius: 100px;
  overflow: hidden;
}

.race-progress-value {
  width: 67%;
  height: 100%;

  background: #e21d2c;
}

.profile {
  display: flex;
  align-items: center;

  gap: 10px;

  padding: 15px 5px 0;

  border-top: 1px solid #242424;

  color: #777777;
}

.profile-avatar {
  width: 38px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
  color: #111111;

  border-radius: 50%;

  font-size: 11px;
  font-weight: 700;
}

.profile-info {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.profile-info strong {
  font-size: 12px;
  color: white;
}

.profile-info span {
  margin-top: 2px;

  font-size: 10px;
  color: #777777;
}