* {
  box-sizing: border-box;
}

button,
input,
textarea {
  font: inherit;
}

button {
  border: 0;
}

.app {
  min-height: 100vh;
  display: flex;

  background: var(--bg);
  color: var(--text);

  transition:
    background 0.2s ease,
    color 0.2s ease;
}

.main {
  width: calc(100% - 260px);

  margin-left: 260px;
}

@media (max-width: 800px) {
  .main {
    width: calc(100% - 78px);
    margin-left: 78px;
  }
}