.theme-toggle {
  width: 64px;
  height: 32px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3px;

  background: var(--surface-soft);

  border: 1px solid var(--border);
  border-radius: 999px;

  cursor: pointer;

  transition:
    background 0.2s ease,
    border-color 0.2s ease;
}

.theme-toggle-slider {
  width: 26px;
  height: 26px;

  position: absolute;

  top: 2px;
  left: 3px;

  z-index: 1;

  background: #ffffff;

  border-radius: 50%;

  box-shadow:
    0 2px 6px
    rgba(0, 0, 0, 0.18);

  transition:
    transform 0.22s ease,
    background 0.22s ease;
}

.theme-toggle.dark
.theme-toggle-slider {
  transform: translateX(31px);

  background: #e21d2c;
}

.theme-icon {
  width: 26px;
  height: 26px;

  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    color 0.2s ease,
    opacity 0.2s ease;
}

/* LIGHT */

.theme-toggle.light
.theme-icon-sun {
  color: #111111;
}

.theme-toggle.light
.theme-icon-moon {
  color: #999999;
}

/* DARK */

.theme-toggle.dark
.theme-icon-sun {
  color: #888888;
}

.theme-toggle.dark
.theme-icon-moon {
  color: #ffffff;
}